            #shape {
                
                position: relative;
                
            }
            
            #reaction-time {
                
                font-weight: bold;
                
            }
            
            p {
            
                font-weight: normal;
                font-size: 20px;
                
            }